/*Paleta de colores d3d3d3-76b900-660708-161a1d-0b090a */

.principal{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6% 0 0.25% 0;
    background-color: whitesmoke;
}

.logo{
    margin-left: 3%;
}

.logo img{
    width: 40px;
}

.menu{
    margin-right: 3%;
}

.principal nav li{
    display: inline;
    margin: 0 0 0 15px;
}

.principal nav a{
    text-decoration: none;
    color: #666;
    font-family: 'Anek Gujarati', sans-serif;
}

/*DESCRIPCION PERSONAL*/
.descripcionPersonal{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5% 30% 8% 8%;
    background-color: #0b090a;
    background-image: url("imagenes/Polygon\ Luminary.svg");
    background-size: cover;
    
}
.descripcionPersonal h3, .descripcionPersonal h1, .descripcionPersonal p{
    text-align: left;
    margin: 2.5%;
    color: #d3d3d3;
    font-family: 'Anek Gujarati', sans-serif;
}

.descripcionPersonal h3{
    color: #76b900;
    font-weight: 900;
    font-size:24px;
    font-family: 'Archivo Black', sans-serif;
}

.descripcionPersonal h1{
    font-weight: 900;
    font-size:48px;
    font-family: 'Archivo Black', sans-serif;
}

.btn-sobremi{
    width: 120px;
    height: 40px;
    margin: 2.5%;
    transition: 0.1s;
    background-color: #76b900;
    border-color: #76b900;
    color: #eee;
    box-shadow: 0 0 0 transparent;
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.btn-sobremi:hover {
    background-color: #84c710;
    border-color: #84c710;
}

/*MENU DE PROYECTO*/
.tiposProyecto{
    padding: 5% 8% 2.5% 8%;
    background-color: #eee;
}

.texto-tiposProyecto{
    text-align: center; 
}

.texto-tiposProyecto h1{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

.grid-tiposProyecto{
    display: flex;
    flex-direction: row;
    justify-content:space-between;    
}

.dataScience, .dataExploration, .dashboard, .deepLearning{
    display:flex;
    flex-direction: column;
    width: 20%;
    background-color: #ffffff;
    padding: 2% 2% 2% 2%;

    transition: all 0.3s;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 19%), 0 2px 6px 0 rgb(0 0 0 / 19%);
}

.tipoProyecto:hover{
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%), 0 4px 12px 0 rgb(0 0 0 / 25%);
}

.dash, .data, .ml{
    width: 100px;
    align-self: center;
}

.tiposProyecto h2, .tiposProyecto p, .tiposProyecto a{
    color: #000000;
    margin: 3% 0 3% 0;
    font-family: 'Anek Gujarati', sans-serif;
    text-decoration: none;
}

.tiposProyecto p{
    text-align: justify;
    color: #1a1a1a;
}

.tiposProyecto h2{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

/*HABILIDADES*/
.habilidades{
    background-color: #eee;
}

.textoHabilidades{
    margin-bottom: 2%;
    text-align: center; 
}

.textoHabilidades h1{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
    font-family: 'Archivo Black', sans-serif;
}

.grid-habilidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    padding: 2.5% 8% 2.5% 8%;
    /*background-image: linear-gradient(to bottom, #0b090a, #0b090a, #161a1d, #161a1d, #0b090a,#0b090a);*/
}
  
.grid-item{
    /*background-color: #161a1d;*/
    text-align: center;
    padding: 5%;
}

.python,.sql,.bigquery,.looker,.tagManager,.analytics{
    width: 80px;
    height: 80px;
}

.grid-habilidades h1{
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    padding-top: 5%;
    font-family: 'Anek Gujarati', sans-serif;
}

/*PROYECTOS DESTACADOS*/
.destacados{
    background-color: #eee;
    padding: 2.5% 8% 2.5% 8%;
}

.textoDestacados{
    margin-bottom: 2%;
    text-align: center;
}

.textoDestacados h1{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
    font-family: 'Archivo Black', sans-serif;
}

.proyectosDestacados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
}

.grid-proyecto{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #ffffff;
    align-items: center;
    padding: 5% 5% 5% 2.5%; 

    transition: all 0.3s;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 19%), 0 2px 6px 0 rgb(0 0 0 / 19%);
}

.grid-proyecto:hover{
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%), 0 4px 12px 0 rgb(0 0 0 / 25%);
}

.grid-proyecto img{
    margin-bottom: 3%;
    width: 90%;
    background-color: #161a1d;
}

.grid-proyecto h1, .grid-proyecto p{
    width: 90%;
    text-align: justify;
    font-family: 'Anek Gujarati', sans-serif;
    color: #666;
}

.grid-proyecto h1{
    margin-bottom: 3%;  
    color: #000000;
    font-size: 16px;
    font-weight: bold;    
    font-family: 'Archivo Black', sans-serif;
}

/*CONTACTO*/

.contacto{
    padding: 2.5% 0 2.5% 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #161a1d;
}

.contactoTexto{
    margin-left: 3%;
}

.contactoTexto h1{
    color: #d3d3d3;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
    font-family: 'Archivo Black', sans-serif;
}

.contactoTexto h2{
    color: #d3d3d3;
    font-size: 15px;
    font-family: 'Anek Gujarati', sans-serif;
}

.btn-contacto{
    width: 120px;
    height: 40px;
    background-color: #76b900;
    border-color: #76b900;
    color: #d3d3d3;
    box-shadow: 0 0 0 transparent;
    margin: 5%;
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: bold;
    transition: 0.1s;
    letter-spacing: 2px;
}

.btn-contacto:hover {
    background-color: #84c710;
    border-color: #84c710;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #161a1d;
}

footer div, footer nav{
    width: 33%;
}

footer nav{
    text-align: center;    
}

footer .logo, .github, .youtube, .facebook{
    width: 30px;
    margin-right: 20px;
}

footer nav li{
    display: inline;
    padding-left: 4%;
}

footer nav a{
    text-decoration: none;
    color: #eee;
    font-size: 15px;
    font-family: 'Anek Gujarati', sans-serif;
    
}

.imagenes-redes{
    text-align: right;    
}

/*RESPONSIVE*/

@media screen and (max-width:720px){
    /*MENU*/
    .logo img{
        width: 30px;
    }

    .principal nav a{
        font-size: 14px;
    }

    /*DESCRIPCION PERSONAL*/
    .descripcionPersonal{
        align-items: center;
        padding: 8%;        
    }
    .descripcionPersonal h3, .descripcionPersonal h1, .descripcionPersonal p{
        text-align: center;
        margin: 2.5%;
    }

    /*MENU DE PROYECTO*/
    .grid-tiposProyecto{
        flex-direction: column;
        align-items: center;
        padding: 8%;
    }

    .dataScience, .dataExploration, .dashboard, .deepLearning{
        width: 100%;
        margin-bottom: 8%;
    }

    .tiposProyecto h2, .tiposProyecto p, .tiposProyecto a{
        margin: 3% 0 3% 0;
    }

    /*HABILIDADES*/
    .grid-habilidades{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    /*PROYECTIOS DESTACADOS*/

    .textoDestacados{
        flex-direction: column;
        margin-bottom: 5%;
        text-align: center;
    }
    
    .textoDestacados h1{
        font-size: 20px;
        margin-bottom: 3%;
    }
    
    .textoDestacados h2{
        font-size: 15px;
        margin-bottom: 3%;
    }
    
    .btn-vermas{
        width: 120px;
        height: 40px;
        margin: 5%;
    } 

    .proyectosDestacados{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
    }
    
    /*CONTACTO*/
    .contacto{
        padding: 2.5%;
        flex-direction: column;
    }

    .contactoTexto{
        margin: 2%;
        text-align: center;
    }

    .contactoTexto h1{
        font-size: 20px;
    }

    .contactoTexto h2{
        font-size: 15px;
    }

    /*FOOTER*/
    footer .logo, .github, .youtube, .facebook{
        width: 15px;
        margin-right: 5px;
    }

    footer nav a{
        font-size: 10px;        
    }

}
